
{% load static %}

<section class="news-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 mb-5">
                <h2>Latest News</h2>
            </div>
        </div>
        <div class="row">
            {% for n in news %}
            <div class="col-lg-4 col-12">
                <div class="news-block">
                    <div class="news-block-top">
                        <a href="{% url 'news:news_detail' nid=n.id %}">
                            <img alt="" class="news-image img-fluid" src="{{ n.image.url }}">
                        </a>
                        {% for cat in n.category.all %}
                            <div class="news-category-block">
                                <a class="category-block-link" href="#">{{ cat.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="news-block-info">
                        <div class="news-block-title mb-2">
                            <h4><a class="news-block-title-link" href="{% url 'news:news_detail' nid=n.id %}">{{ n.title }}</a></h4>
                        </div>
                        <div class="news-block-body">
                            <p>{{ n.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>