{% load static %}
<div class="tags-block">
    <h5 class="mb-3">Tags</h5>

    <a href="#" class="tags-block-link">
        Donation
    </a>

    <a href="#" class="tags-block-link">
        Clothing
    </a>

    <a href="#" class="tags-block-link">
        Food
    </a>

    <a href="#" class="tags-block-link">
        Children
    </a>

    <a href="#" class="tags-block-link">
        Education
    </a>

    <a href="#" class="tags-block-link">
        Poverty
    </a>

    <a href="#" class="tags-block-link">
        Clean Water
    </a>
</div>