{% extends 'base.html' %}
{% load news_tags %}
{% load static %}

        {% block content %}
        <main>

            <section class="news-detail-header-section text-center">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h1 class="text-white">News Listing</h1>
                        </div>

                    </div>
                </div>
            </section>

            <section class="news-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            {% for n in news %}
                            {% if n.is_published_date %}
                                <div class="news-block">
                                    <div class="news-block-top">
                                        <a href="{% url 'news:news_detail' nid=n.id %}">
                                            <img src="{{ n.image.url }}" class="news-image img-fluid" alt="">
                                        </a>
                                        
                                        <div class="news-category-block">
                                            {% for cat in n.category.all %}
                                            <a href="#" class="category-block-link">
                                                {{ cat.name }}
                                            </a> 
                                            {% endfor %}
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="news-block-info">
                                        <div class="d-flex mt-2">
                                            <div class="news-block-date">
                                                <p>
                                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                                    {{ n.published_date|date:"D M Y" }}
                                                </p>
                                            </div>
                                            {% if n.author != null %}
                                            <div class="news-block-author mx-5">
                                                <a href="{% url 'news:author' author_username=n.author.username %}">
                                                    <i class="bi-person custom-icon me-1"></i>
                                                    By {{ n.author.get_full_name }}
                                                </a>
                                            </div>
                                            {% else %}
                                            <div class="news-block-author mx-5">
                                        
                                            </div>
                                            {% endif %}
                                            <div class="news-block-comment">
                                                <p>
                                                    <i class="bi-chat-left custom-icon me-1"></i>
                                                    32 Comments
                                                </p>
                                            </div>

                                            <div class="news-block-author mx-5">
                                                <p>
                                                    <i class="bi-person custom-icon me-1"></i>
                                                    {{ n.views }} Views
                                                </p>
                                            </div>
                                        </div>

                                        <div class="news-block-title mb-2">
                                            <h4><a href="{% url 'news:news_detail' nid=n.id %}" class="news-block-title-link">{{ n.title }}</a></h4>
                                        </div>

                                        <div class="news-block-body">
                                            <p>{{ n.content|truncatewords:20 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <center>
                            {% include 'news/pagination.html' %}
                        </center>

                        <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                            <form class="custom-form search-form" action="{% url 'news:search' %}" method="get" role="form">
                                <input class="form-control" type="search" name="s" type="text" placeholder="Search" aria-label="Search">

                                <button type="submit" class="form-control">
                                    <i class="bi-search"></i>
                                </button>
                            </form>

                            {% recent_news %}

                            {% newsCategories %}

                            {% include 'news/news-tags.html' %}

                            {% include 'news/newsletter-form.html' %}
                        </div>

                    </div>
                </div>
            </section>
        </main>

    </body>
</html>

{% endblock %}